* {
    margin: 0%;
    font-weight: 100;
}

.container {
    margin: 10px 30px;
    padding: 20px;
    border: 1px solid;
    width: fit-content;
}

.heading {
    padding: 10px;
    border: 3px solid rgb(247, 70, 70);
    outline: 5px dotted rgb(91, 226, 12);
}

span {
    font-weight: bold;
}
